<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dio_6 v-for</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(namirnica, i) in namirnice">{{ namirnica }} ({{ i }})</li>
        </ul>
        <hr>
        <ul>

            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ value }}: {{ key }} ({{ index }})</div>
            </li>
        </ul>
        <hr>
    </div>
    <script src="app.js"></script>
</body>
</html>